<nav class="closed">
  <ul class="navUl">
    <!-- Home -->
    <a href="index.php">
      <li class="ulElement">
        <span class="icon"><img src="assets/images/icons/home.svg" alt="" /></span>
        Inicio
      </li>
    </a>
    <!-- MY FOVOURITES -->
    <a href="index.php?controller=FavoritosController">
      <li class="ulElement">
        <span class="icon">
          <img src="assets/images/icons/favourite.svg" alt="" />
        </span>
        Mis favoritos
      </li>
    </a>
    <!-- MY MESSAGES -->
    <a href="index.php?controller=ChatController">
      <li class="ulElement">
        <span class="icon">
          <img src="assets/images/icons/messages.svg" alt="" />
        </span>
        Mis mensajes
      </li>
    </a>
    <!-- MY SHOPS -->
    <a href="index.php?controller=ComercianteController">
      <li class="ulElement">
        <span class="icon">
          <img src="assets/images/icons/Shop.svg" alt="" />
        </span>
        Mis Comercios
      </li>
    </a>
    <!-- ACCOUNT -->
    <a href="index.php?controller=AccountController">
      <li class="ulElement">
        <span class="icon"><img src="assets/images/icons/user.svg" alt="" /></span>
        Cuenta
      </li>
    </a>
  </ul>
</nav>
