<nav class="closed">
  <ul class="navUl">
    <!-- Home -->
    <a href="index.php">
      <li class="ulElement">
        <span class="icon"
          ><img src="assets/images/icons/home.svg" alt=""
        /></span>
        Inicio
      </li>
    </a>
    <!-- MY FOVOURITES -->
    <a href="index.php">
      <li class="ulElement">
        <span class="icon">
          <img src="assets/images/icons/favourite.svg" alt="" />
        </span>
        Mis favoritos
      </li>
    </a>
    <!-- MY MESSAGES -->
    <a href="index.php">
      <li class="ulElement">
        <span class="icon">
          <img src="assets/images/icons/messages.svg" alt="" />
        </span>
        Mis mensajes
      </li>
    </a>
    <!-- MY REVIEW -->
    <a href="index.php">
      <li class="ulElement">
        <span class="icon">
          <img src="assets/images/icons/review.svg" alt="" />
        </span>
        Mis Reseñas
      </li>
    </a>
    <a href="index.php?controller=LoginController">
      <li class="ulElement">
        <span class="icon"
          ><img src="assets/images/icons/user.svg" alt=""
        /></span>
        Cuenta
      </li>
    </a>
  </ul>
</nav>
