.carrusel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 400px;
}

.item {
  flex: 0 0 100%;
  text-align: center;
  background: #f0f0f0;
  position: relative;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.item h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  z-index: 1;
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
