.chatContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.chatContainer aside {
  width: 20%;
  background-color: var(--secundario);
  padding: 8px;
}

.chatContainer article {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-area: 'messages' 'textBar';
  width: 100%;
  align-items: end;
  padding: 20px;
  background-image: url(../images/ChatBackground.jpg);
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  overflow: scroll;
}

.item {
  display: flex;
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  border: 0;
  background-color: transparent;
  gap: 8px;
  cursor: pointer;
}

.selected {
  background-color: lightgrey;
}

.item span {
  width: 32px;
  height: 32px;
  background-color: var(--acento);
  border-radius: 50%;
}

.item:hover {
  background-color: lightgrey;
}

h4 {
  margin: 0;
}

#chatMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  gap: 10px;
  margin-bottom: 80px;
}

.loggedUser,
.other {
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.loggedUser {
  align-self: flex-end;
  text-align: right;
  background-color: var(--acento);
}

.other {
  align-self: flex-start;
  text-align: left;
  background-color: var(--secundario);
}

.loggedUser strong,
.other strong {
  font-size: 0.9em;
}

.loggedUser small,
.other small {
  font-size: 0.8em;
  color: #665;
}

#textMessage {
  display: none;
  position: fixed;
  width: 80%;
  border: 1px solid var(--secundario);
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 1em;
  border-radius: 20px;
}

#textMessage input {
  border: 0;
  outline: none;
}

#textMessage input[type='text'] {
  width: 100%;
  height: 2em;
}

#textMessage button[type='submit'] {
  width: 32px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

#textMessage:focus {
  border-color: var(--acento);
}
