footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'categorias copyright';
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 1px 0 4px;
}

.categorias-footer {
  grid-area: categorias;
  display: flex;
  gap: 8px;
}

.categorias-footer hr {
  height: 60px;
  align-self: center;
  margin-inline: 16px;
}

.categorias-footer img {
  width: 48px;
}

.nosotros {
  display: flex;
  flex-direction: column;
}

.trabajaConNosotros a {
  text-decoration: none;
}

.copyright {
  grid-area: copyright;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.copyright img {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1260px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      'categorias'
      'copyright';
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .categorias-footer {
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 650px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      'categorias'
      'copyright';
    height: auto;
    text-align: center;
    align-items: center;
  }

  .categorias-footer {
    flex-direction: column;
  }

  .categorias-footer hr {
    height: 1px;
    width: 60%;
    margin: 8px 0;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
  }

  .copyright img {
    width: 48px;
    height: 48px;
  }
}
