main {
  padding: 1rem;
  padding-top: 70px;
}

article {
  margin-bottom: 0.5rem;
}

article:last-child {
  margin-bottom: 0;
}

h4 {
  margin: 0.5em 0;
}

.descripcion-comercio {
  max-width: 50%;
}

.buttonGroup {
  display: flex;
  gap: 1em;
}

.openChat {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5em;
  background-color: #1f1f1f;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  gap: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.openChat:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7), -4px -4px 8px rgba(100, 100, 100, 0.25);
}

.listaProductos {
  overflow: scroll;
}

/* ============ BOTONES DE VALORAR Y VOLVER============ */

.btn-reviews-toggle {
  background: var(--acento);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-reviews-toggle:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7), -4px -4px 8px rgba(100, 100, 100, 0.25);
}

/* === FORMULARIO dentro del popup === */

.descripcion-fieldset {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background: #fafafa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.descripcion-fieldset legend {
  font-size: 1.6rem;
  font-weight: 600;
  color: #222;
}

#contenedor-estrellas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2.5px);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form-valoracion {
  position: relative;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  width: 450px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  animation: aparecer 0.25s ease-out;
}

.estrella {
  cursor: pointer;
}

.enviar-review {
  display: inline-block;
  padding: 10px 15px;
  background-color: #111;
  color: #f0f0f0;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.cerrar-review {
  position: absolute;
  top: 3px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
  cursor: pointer;
  line-height: 1;
  z-index: 10;
}

.cerrar-review:hover {
  color: #c20000;
}
.estrellas-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
