.tituloA単adirAnuncio,.tituloA単adirProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    & .a単adirAnuncio,.a単adirProducto{
        display: flex;
        align-items: center;
        background: #62BC7A;
        border: #329e4f 2px solid;
        & svg{
            width: 24px;
            height: 24px;
        }
    }
}
