.tituloAñadirAnuncio,.tituloAñadirProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    & .añadirAnuncio,.añadirProducto{
        display: flex;
        align-items: center;
        background: #62BC7A;
        border: #329e4f 2px solid;
        & svg{
            width: 24px;
            height: 24px;
        }
    }
}

@media (max-width: 768px) {
    .tituloAñadirAnuncio{
        justify-content: space-around;
    }
    .tituloAñadirAnuncio h2{
        font-size: 35px;
      
    }
    
}
